.favorites-title{
    margin-top: 3rem;
    padding: 0 200px;
    text-align: center;
}
.favorites-title h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
    color: white;
    justify-content: center;
}

.favorites-title p{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff99;
    font-size: 1.3rem;
}