.join-title{
    margin-top: 3rem;
    padding: 0 200px;
    text-align: center;
}
.join-title h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
    color: white;
    justify-content: center;
}

.join-title p{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff99;
    font-size: 1.3rem;
}

.tunes-word{
    font-weight: 100;
}


.input-container{
    display: flex;
    justify-content: center;
}


.join-form{
    background-color: rgba(255, 255, 255, 0.15);
    padding: 50px;
    margin-top: 1.9rem;
    margin-bottom: 6rem;
    border-radius: 3%;
    width: 40%
}

.title-1{
    margin-bottom: 20px;
}

.title-2{
    color: rgba(255, 255, 255, 0.55);
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
}


input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1rem;
  }
  
input::placeholder {
    color: #bdbdbd;
    font-family: "Poppins", sans-serif;
  }
  

button[type="submit"] {
    width: 100%;
    margin-top: 20px;
    padding: 14px;
    font-size: 1rem;
    font-weight: bold;
    background: white;
    color: #24243e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: "Montserrat", sans-serif;
    font-size: larger;
  }
  
  button[type="submit"]:hover {
    background: #ddd;
  }
.error-message{
    color: white;
    font-family: "Montserrat", sans-serif;
}

.success-message{
    color: white;
    font-family: "Montserrat", sans-serif;
}