.moods-title{
    margin-top: 3rem;
    padding: 0 200px;
    text-align: center;
}
.moods-title h1{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
    color: white;
    justify-content: center;
}

.moods-title p{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff99;
    font-size: 1.3rem;
}

.mood-cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 50px;
    margin-top: 2rem;
    margin-bottom: 5rem;
    justify-content: center;
  }
  
.card {
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-decoration: none;
    
  }
  
.card:hover {
    transform: scale(1.05);
  }
  
.emoji {
    font-size: 5rem;
    margin-bottom: 15px;
  }
  
.title {
    font-weight: 700;
    font-size: 1.7rem;
    margin-top: -20px;
    margin-bottom: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1;
    font-style: normal;
  }
  
.desc {
    font-size: 1.1rem;
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
    font-weight: 450;
    font-style: italic;

  }
  
  
.happy {
    background-color: #f7d153 !important;
    color: #111827;
  }
  
.sad {
    background-color: #3d83f2 !important;
    color: white;
    
  }
  
.chill {
    background-color: #10b981 !important;
    color: white;
  }
  
.angry {
    background-color: #e85151 !important;
    color: white;
  }